:root{
  --primary: #0074c7;
  --secondary:#00497c;
  --success:#82b864;
  --danger:#cd2c2e;
  --light:#f1f8fc;
  --dark:#384050;
}

body {
  margin: 0;
  font-family: 'Graphik', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-size:16px;
}
h1, h2 {
  font-weight: 900 !important;
}
h1{
  padding: 32px 0 40px;
}
h2{
  padding: 32px 0;
}
h2::before,
.worker .card h3::before{
  content:'';
  display: block;
  width: 30px;
  height: 6px;
  margin-bottom: 18px;
}
h2.white::before { background-color: #fff;}
h2.primary::before,
.worker .card h3::before { background-color: var(--primary);}
h2.secondary::before { background-color: var(--secondary);}
h2.success::before { background-color: var(--success);}
h2.danger::before { background-color: var(--danger);}
h2.light::before { background-color: var(--light);}
h2.dark::before { background-color: var(--dark);}

button:hover{
  background: var(--seconday) !important;
}
button.secondaryButton:hover{
  background: var(--light) !important;
  border-color: var(--secondary) !important;
  color: var(--secondary) !important;
}
a,
.nav-link{
  color: var(--dark) !important;
}
a:hover,
.nav-link:hover{
  color: var(--primary) !important;
}
a.lightContrast,
.nav-link.nav-link.lightContrast:hover{
  color: var(--white) !important;
}
a.lightContrast:hover,
.nav-link.lightContrast:hover{
  color: var(--white) !important;
  text-decoration: underline !important;
}
a:focus,
a:focus-visible,
.nav-link:focus,
.nav-link:focus-visible,
button:focus,
button:focus-visible{
  outline: 3px solid var(--dark) !important ;
  box-shadow: none !important;
}
button:hover{
  background: var(--secondary) !important;
}

/* HEADER */
/* Logo and buttons display on mobile by default (close) */
#mobileNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* Buttons display on mobile to toggle search and nav bars */
#buttonNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#buttonNav button {
  width: 48px;
  height: 48px;
}
#buttonNav button svg{
  height: auto;
}
#buttonNav button:hover,
#buttonNav button:hover svg{
  color:var(--dark) !important;
  background: none !important;
}
#buttonNav button.navbar-toggler:focus{
  box-shadow: none !important;
}
#searchButton{
  display: block;
}
/* Invalid form */
input.invalid {
  border:2px solid var(--danger) !important;
}

/* STEPS CARDS */
.stepNumber {
  font-size: 3em !important;
  font-weight: 900 !important;
}
/* WORKERS CARD */
.worker .card{transition: .3s ease-in-out;}
.worker .card:hover{
  transition: .3s ease-in-out;
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.1);
  cursor: pointer;
}
.worker .card img{
  transition: .3s ease-in-out;
}
.worker .card:hover img{
  transition: .3s ease-in-out;
  transform: scale(110%);
}
.worker .card ul{
  display: flex !important;
}

/* CATEGORIES & SEARCH */
.searchResults{
  font-size: .7em;
  font-weight: 300;
}

/* PROFIL PAGE */
.worker{
  max-width: 960px !important;
}
.speciality{
  font-weight: 900;
}
@media screen and (min-width: 576px)
{
  #profil{
    text-align: left !important;
  }
}

@media screen and (min-width: 992px)
{
  #searchButton{
    display: none;
  }
  #toggleNav{
    width: 400px !important;
  }
}